<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div align="center">
    <h3>Users</h3>
    <table border="1" cellpadding="8">
        <tr>
            <th><b>ID</b></th>
            <th><b>First name</b></th>
            <th><b>Last name</b></th>
            <th><b>Age</b></th>
            <th><b>E-mail</b></th>
            <th><b>Actions</b></th>
        </tr>
        <th:block th:b >
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.firstName}">First name</td>
                <td th:text="${user.lastName}">Second name</td>
                <td th:text="${user.age}">Age</td>
                <td th:text="${user.email}">E-mail</td>
                <td>
                    <button th:onclick="'window.location.href=\'/update?id=' + ${user.id} + '\''">Update</button>
                    <button th:onclick="'window.location.href=\'/delete?id=' + ${user.id} + '\''">Delete</button>
                </td>
            </tr>
        </th:block>
    </table>
    <br>
    <input type="button" value="Add"
           onclick="window.location.href = 'add'"/>
</div>
</body>
</html>